<h1>Your Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to "#{event.name} - #{event.location}", event %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to main page", events_path %>