:root {
  background-color: orange;
  font-family: sans-serif;
  --light-color: whitesmoke;
  --standard-spacing: 1rem;
  --wide-spacing: 2rem;
}

a {
  color: black;
}

h1, h2, h3 {
  margin: 0rem;
}

ul {
  padding: 0px;
  margin: 1px 0px;
}

ul > li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

div.main {
  background-color: var(--light-color);
  width: 40vw;
}

div.content {
  padding: 3rem 3rem;
}

div.event-info {
  margin: 2rem 0rem;
}

ul > li.event-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}